.burger-info__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  align-self: flex-start;
  text-decoration: none;
  transition: opacity .2s linear;
  padding-top: 7px;
}

.burger-info__link:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .burger-info__link {
    padding-top: 0;
    align-self: center;
  }
}