.header__email {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin: 0 24px 0 auto;
  padding-top: 7px;
}

@media screen and (max-width: 500px) {
  .header__email {
    display: none;
  }
}