.popup__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 484px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}